Meta
doc
.Rproj.user
.Rhistory
.RData
..Rcheck/
# when directly testing vignettes, some garbage appears
vignettes/figure/
docs/*cache/
docs/articles/*cache/
tests/dev_tests/10cache.rds
tests/dev_tests/*.out*csv
/doc/
/Meta/
CRAN-RELEASE
