.Rproj.user
.Rhistory
.RData
..Rcheck/
# when directly testing vignettes, some garbage appears
vignettes/*.html
vignettes/*.md
vignettes/*cache/
vignettes/*figure/
vignettes/*_files/
docs/*cache/
docs/articles/*cache/
